@model ErrorViewModel

@{
    ViewData["Title"] = "Invalid Role Setup";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl page-title page-title--tight">Public Procurement Gateway</h1>
        @if (Model.Service != null && !String.IsNullOrWhiteSpace(Model.Service.ServiceDisplayName))
        {
            <p class="govuk-body">You appear to have both Buyer and Supplier roles for @Model.Service.ServiceDisplayName assigned in PPG.</p>
        }
        <p class="govuk-body">Your Buyer user has been created.  Please contact CCS support in order for them to create your Supplier user.</p>
        <br />
        @if (Model != null && !String.IsNullOrWhiteSpace(Model.DashboardUrl))
        {
            <p class="govuk-body"><a href="@Model.DashboardUrl" class="govuk-button">Go back to your dashboard ></a></p>
        }
    </div>
</div>