<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl page-title page-title--tight">Error Encountered</h1>
        <p class="govuk-body">Temporary placeholder display for an error.  We'll split this into specific errors in other cases.</p>
    </div>
</div>