@{
    ViewData["Title"] = "Request Processing";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl page-title page-title--tight">@ViewData["Title"]</h1>
        <p class="govuk-body">This route is to process the user request - i.e. redirect away to Jaegger / CaT.</p>
    </div>
</div>