.govuk-footer {
  border-top-color: #8fb3ff;
}

.govuk-footer__copyright-logo:before {
  display: none;
}

.footer-logo-block {
  display: block;
}

.footer-logo-copyright {
  padding-top: 4px;
}

.ccs-footer-feedback {
  background-color: #f4f8fb;
}