@model ServiceViewModel

@{
    ViewData["Title"] = "Account creation";
}

@if (!String.IsNullOrWhiteSpace(Model.ServiceDisplayName))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl page-title page-title--tight">Account creation</h1>

            @if (Model.ShowBuyerError)
            {
                <p class="govuk-error-message">A buyer account is required to use this service.</p>
                <br />
            }

            @if (Model.ShowSupplierError)
            {
                <p class="govuk-error-message">A supplier account is required to use this service.</p>
                <br />
            }

            <form id="merge-selection-form" method="POST" action="/director/process-user">
                <div id="merge-selection-group" class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="merge-prompt-error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Select an option:
                            </h2>
                        </legend>
                        <p id="merge-prompt-error" class="govuk-error-message govuk-visually-hidden">
                            <span class="govuk-visually-hidden">Error:</span> Please select one of these options
                        </p>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="account-merge" name="accountDecision" type="radio" value="merge">
                                <label class="govuk-label govuk-radios__label" for="account-merge">
                                    I already have an existing CCS eSourcing account
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="account-create" name="accountDecision" type="radio" value="create">
                                <label class="govuk-label govuk-radios__label" for="account-create">
                                    I don't have a CCS eSourcing account, or I'm not sure (we'll set up what you need)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <p class="govuk-body"><button class="govuk-button" type="submit">Continue ></button></p>
            </form>
        </div>
    </div>
}