@{
    ViewData["Title"] = "Merge accounts";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl page-title page-title--tight">Merge accounts</h1>
        <p class="govuk-body">You can merge your eSourcing and Public Procurement Gateway accounts. This won't cause you to lose any of your procurement history. When you merge your accounts you will be asked to sign in with your eSourcing login details the first time, after that you will be logged in directly.</p>
        <p class="govuk-body">If you don't already have an eSourcing account you can create one now and it will be linked to your Public Procurement Gateway account automatically.</p>
        <br />
        <form method="POST" action="/director/process-user">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Select an option:
                        </h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="account-merge" name="accountDecision" type="radio" value="merge" required>
                            <label class="govuk-label govuk-radios__label" for="account-merge">
                                Merge your existing eSourcing and Public Procurement Gateway accounts
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="account-create" name="accountDecision" type="radio" value="create" required>
                            <label class="govuk-label govuk-radios__label" for="account-create">
                                Create a new eSourcing account that links to your Public Procurement Gateway account
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-notification-banner banner-hidden" id="merge-banner" role="region" aria-labelledby="govuk-notification-banner-title"><!-- TODO: May need to take this out after I see final mockup -->
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        If you do have an existing account your data will not be able to be merged later.
                    </p>
                </div>
            </div>

            <p class="govuk-body"><button class="govuk-button" type="submit">Continue ></button></p>
        </form>
    </div>
</div>